.showcase-container {
  height: 50vh;
  width: 100%;
  background: red;

  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-content {
  width: fit-content;
  z-index: 1;
}
